<a href="https://colab.research.google.com/github/pzulu3030/D3-challenge/blob/main/1-reviewing-datatypes/2-datatypes-dictionaries-quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DataTypes Review Quiz - Strings, Dictionaries, Lists

### Introduction

In this quiz, we'll review some of our functions with lists, dictionaries, and strings.

### Downloading our Data

In [1]:
import pandas as pd 
url = "https://raw.githubusercontent.com/fivethirtyeight/data/master/congress-age/congress-terms.csv"

df = pd.read_csv(url)
congress_persons = df.to_dict('records')

In [2]:
congress_persons[:2]

[{'congress': 80,
  'chamber': 'house',
  'bioguide': 'M000112',
  'firstname': 'Joseph',
  'middlename': 'Jefferson',
  'lastname': 'Mansfield',
  'suffix': nan,
  'birthday': '1861-02-09',
  'state': 'TX',
  'party': 'D',
  'incumbent': 'Yes',
  'termstart': '1947-01-03',
  'age': 85.9},
 {'congress': 80,
  'chamber': 'house',
  'bioguide': 'D000448',
  'firstname': 'Robert',
  'middlename': 'Lee',
  'lastname': 'Doughton',
  'suffix': nan,
  'birthday': '1863-11-07',
  'state': 'NC',
  'party': 'D',
  'incumbent': 'Yes',
  'termstart': '1947-01-03',
  'age': 83.2}]

### Exploring our Data

Let's begin by selecting the first element in the list above.

In [3]:
mansfield = congress_persons[0]

mansfield

# {'congress': 80,
#  'chamber': 'house',
#  'bioguide': 'M000112',
#  'firstname': 'Joseph',
#  'middlename': 'Jefferson',
#  'lastname': 'Mansfield',
#  'suffix': nan,
#  'birthday': '1861-02-09',
#  'state': 'TX',
#  'party': 'D',
#  'incumbent': 'Yes',
#  'termstart': '1947-01-03',
#  'age': 85.9}

{'congress': 80,
 'chamber': 'house',
 'bioguide': 'M000112',
 'firstname': 'Joseph',
 'middlename': 'Jefferson',
 'lastname': 'Mansfield',
 'suffix': nan,
 'birthday': '1861-02-09',
 'state': 'TX',
 'party': 'D',
 'incumbent': 'Yes',
 'termstart': '1947-01-03',
 'age': 85.9}

Now return a list of the values in the dictionary above.

In [4]:
mansfield.values()

# [80, 'house', 'M000112', 'Joseph', 'Jefferson', 'Mansfield', nan, '1861-02-09', 'TX', 'D', 'Yes', '1947-01-03', 85.9]

dict_values([80, 'house', 'M000112', 'Joseph', 'Jefferson', 'Mansfield', nan, '1861-02-09', 'TX', 'D', 'Yes', '1947-01-03', 85.9])

Then return a *list* of the first five keys, sorted alphabetically in the dictionary above.

> Remember we can use the `sorted` function to sort a list.

```python 
sorted(['hello', 'everyone', 'here'])

# ['everyone', 'hello', 'here']
```

In [21]:
mansfield_keys=list(mansfield.keys())
sorted_mansfield_keys=sorted(mansfield_keys)[0:5]
sorted_mansfield_keys
# ['age', 'bioguide', 'birthday', 'chamber', 'congress']

['age', 'bioguide', 'birthday', 'chamber', 'congress']

Next, let's select the birthday of the `Mansfield`.

In [22]:
mansfield_bday = mansfield['birthday']
mansfield_bday

'1861-02-09'

In [28]:
type(mansfield_bday)
mansfield_bday.split('-')

['1861', '02', '09']

And then convert the birthday to a list that has three elements, year, month, and day.

In [41]:

birthday_components = mansfield_bday.split('-')
birthday_components
# ['1861', '02', '09']

['1861', '02', '09']

Then use the list of the `birthday_components` above to create a new list, where each of the elements is an integer.  Assign the resulting list to the variable `birthday_numbers`.

In [58]:
birthday_numbers = []
for birthday_number in birthday_components:
  birthday_number=int(birthday_number)
  birthday_numbers.append(birthday_number)
birthday_numbers
# [1861, 2, 9]

[1861, 2, 9]

Finally, use the `birthday_components` list above to create a new string where each of the elements above is separated by a comma so we get a string that looks like the following: `'1861, 02, 09'`.

In [71]:
mystring=''
for x in birthday_components:
  mystring +=' ' + x + ','
print('\'' + mystring + '\'')
# '1861, 02, 09'

' 1861, 02, 09,'

In [ ]:
birthday_components